@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
  background-color: #01163d;
  color: white;
  height: 130vh;
}

.login{
    flex-direction: row;
    display: flex;
    height: 100%;
}
.cadastro{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem-indicador{
    display: flex;
    position: absolute;
    width: 50%;
    height: 90%;
    justify-content: end;
    align-items: flex-start;
    z-index: -1;
}

.imagem-indicador img{
    width: 30%;
}

.cadastroUni{
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
}

.cadastro a{
    display: none;
    justify-self: center;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: all 0.8s ease;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    height: 90%;
    gap: 10px;
}

h2{
    align-self: center;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    font-size: 40px;
    margin: 0;
}

.campo{
    display: flex;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    white-space: pre-line;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}

input{
    width: 100%;
    border-radius: 10px;
    border: #4c6977, solid, 1px;
    background-color: #1C2C46;
    line-height: 20px;
    font-size: 20px;
    color: white;
    height: 35px;
    transition: all 0.5s ease;
}

.formulario .campo input:focus {
    outline: none;
    background-color: #34518188;
    transform: scale(1.02);
}

.formulario .campo input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    background-color: #EAEAEA;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
}
.formulario button:hover{
    background-color: rgb(159, 159, 159);
    transform: scale(1.05);
}
.effect-text{
    display: flex;
    background-image: url(../assets/img_cadastro_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.effect-text h2{
    justify-self: center;
    font-size: 40px;
    font-family: 'poppins', sans-serif;
}

.effect-text .logo{
    display: flex;
    justify-self: center;
    height: 250px;
    width: 50%;
    justify-content: center;
    margin-bottom: 30px;
}

.logo img{
    width: 300px;
}

.effect-text p{
    justify-self: center;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.effect-text a{
    display: flex;
    justify-self: center;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: all 0.8s ease;
    margin-top: 3%;
}

.effect-text a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

@media screen and (max-width: 800px){
.login{
    margin: 0;
}
.cadastro{
    width: 100%;
}
.cadastro a{
    display: flex;
}
.cadastro button{
    height: 100px;
    font-size: 16px;
}
.effect-text{
    width: 100%;
    display: none;
}
}